<div class="container">
  <div class="row" style="margin-top: 60px">
    <div class="col-12">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Name</th>
          <th>Comment</th>
          <th>Created On</th>
          <th></th>
        </tr>
        <tr *ngFor="let row of viewModel; let i = index">
          <td>{{row.name}}</td>
          <td>{{row.comment}}</td>
          <td>{{row.createdOn | date:'short'}}</td>
          <td><button class="btn btn-outline-primary" (click)="onRemoveRecord(i)">Remove</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>